### Protect
<%= partial("direction/protect/templates/overview") %>

#### Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "protect" }) %>

#### Pricing
<%= partial("direction/protect/templates/pricing") %>
